@font-face {
	font-family: Inter;
	src: url("./fonts/Inter-VariableFont_slnt\,wght.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter";
	position: relative;
}

html {
	font-size: 62.5%;
}

body {
	width: 100%;
	/* height: 100vh; */
	background-color: hsl(36, 100%, 99%);
	/* overflow: hidden; */
	padding: 5rem 14rem;
}

/* General styles */

.link,
.link:link,
.link:visited,
.btn,
.btn:link,
.btn:visited {
	text-decoration: none;
	color: inherit;
	border: none;
	background-color: inherit;
	cursor: pointer;
	font-size: 1.4rem;
	font-weight: 400;
	letter-spacing: 0.5px;
	color: hsl(236, 13%, 42%);
}

.link:active,
.link:hover {
	color: hsl(5, 85%, 63%) !important;
}

.btn:active,
.btn:hover {
	color: hsl(233, 8%, 79%);
	background-color: hsl(240, 100%, 5%);
}

.text {
	color: hsl(236, 13%, 42%);
	font-size: 1.3rem;
	font-weight: 400;
	letter-spacing: 0.5px;
}

/* End of General styles */

/* Header styles */
header {
	width: 100%;
	height: 4rem;
	display: flex;
	justify-content: space-between;
}

.logo-Div,
.logo {
	height: 100%;
}

.navbar,
.nav-list,
.nav-item,
.nav-link {
	height: 100%;
	display: flex;
	/* gap: 3rem; */
	justify-content: flex-end;
	align-items: center;
}

.menu-icon-div {
	display: none;
}

.nav-link {
	padding: 0 2rem;
}

.nav-item:last-child .nav-link:last-child {
	padding-right: 0;
}

/* End of Header styles */

/* Main styles */

main {
	width: 100%;
	height: 100%;
	margin-top: 4rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

/* Post Styles */
.post-container {
	width: 68%;
}

.post-img-div {
	width: 100%;
	height: 45vh;
	background-image: url("./images/image-web-3-desktop.jpg");
	background-size: cover;
	background-position: center;
}

.post-info {
	margin-top: 2rem;
	display: flex;
	justify-content: space-between;
}

.post-title-div {
	width: 45%;
}

.post-title {
	font-size: 5rem;
	font-weight: 800;
	letter-spacing: 0.1rem;
	/* width: 100%; */
}

.post-des-div {
	padding-right: 1rem;
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.post-des {
	line-height: 1.5;
}

.post-btn {
	background-color: hsl(5, 85%, 63%);
	color: hsl(36, 100%, 99%);
	padding: 1.5rem 5rem;
	letter-spacing: 2px;
	font-size: 1.5rem;
	font-weight: 700;
}

/* New Post Styles */

.new-post-container {
	width: 30%;
	background-color: hsl(240, 100%, 5%);
	padding: 3rem 2rem;
}

.new-title {
	color: hsl(35, 77%, 62%);
	font-size: 3.5rem;
	font-weight: 700;
	width: 100%;
}

.new-post-div {
	margin-top: 2rem;
	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
}

.new-post {
	width: 100%;
	height: min-content;
	gap: 3rem;
	flex-direction: column;
	display: flex;
	justify-content: space-between;
}

.new-post-title {
	font-size: 1.6rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
	color: hsl(36, 100%, 99%);
}

hr {
	border-color: hsl(236, 13%, 42%);
}

/* Recent Post Styles */

.recent-post-container {
	width: 100%;
	margin-top: 6rem;
	margin-bottom: 2rem;
	justify-content: space-between;
	flex-wrap: wrap;
}

.recent-post {
	display: flex;
	height: 15rem;
	width: 30%;
	gap: 3rem;
}

.recent-post-img,
.recent-post-info {
	height: 100%;
}

.recent-post-info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}

.recent-post-numb {
	font-size: 3rem;
	font-weight: 800;
	color: hsl(233, 8%, 79%);
}

.recent-post-title {
	font-size: 1.7rem !important;
	font-weight: 800 !important;
	color: hsl(240, 100%, 5%) !important;
}

/* End of Main styles */

@media (max-width: 75em) {
	html {
		font-size: 56.25%;
	}
}

@media (max-width: 56.25em) {
	html {
		font-size: 50%;
	}

	body {
		padding: 6rem 8rem;
	}
}

@media (max-width: 37.5em) {
	html {
		font-size: 43.75%;
	}

	body {
		padding: 4rem 5rem;
	}

	.text {
		font-size: 1.6rem;
	}

	.post-container {
		width: 100%;
	}

	.post-img-div {
		height: 40vh;
		background-image: url("./images/image-web-3-mobile.jpg");
	}
	.post-info {
		width: 100%;
		flex-direction: column;
	}

	.post-title-div,
	.post-des-div {
		width: 100%;
		margin-top: 3rem;
	}

	.post-btn {
		margin-top: 3rem;
		padding: 2rem 4rem;
		font-size: 2.2rem;
	}

	.new-post-container {
		width: 100%;
		margin-top: 7rem;
		height: min-content;
		padding: 4rem 3rem;
	}

	.new-title {
		font-size: 4rem;
	}
	.new-post-div {
		margin-top: 4rem;
		gap: 4rem;
	}

	.new-post {
		gap: 2rem;
	}

	.recent-post-container {
		gap: 4rem;
	}

	.recent-post {
		width: 100%;
		height: 20rem;
	}

	.recent-post-numb {
		font-size: 5rem;
	}

	.recent-post-title {
		font-size: 2.5rem;
	}

	.menu-icon-div {
		display: inline-block;
		width: 4rem;
		height: 4rem;
		z-index: 1000;
	}

	.menu-icon-img {
		width: 100%;
		height: 100%;
		display: block;
	}

	.nav-list {
		display: none;
		width: 70%;
		height: 100vh;
		position: fixed;
		top: 0;
		right: 0;
		flex-direction: column;
		justify-content: flex-start;
		align-self: flex-start;
		background-color: hsl(36, 100%, 99%);
		z-index: 100;
		padding-top: 10rem;
	}

	#nav-list-mobile-bg {
		width: 99vw;
		height: 100vh;
		z-index: 10;
		background-color: hsla(240, 100%, 5%, 0.35);
		position: fixed;
		top: 0;
		left: 0;
	}

	.nav-item {
		width: 100%;
		height: min-content;

		justify-content: flex-start;
	}

	.nav-link {
		width: 100%;
		height: 100%;
		padding: 4rem 6rem;
		font-size: 5rem !important;
		font-weight: 400 !important;
		color: hsl(240, 100%, 5%);
		justify-content: flex-start;
	}
}
